.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: NTSomic;
    font-weight: 400;
    background-color: #000000;
}

.overlay {
    opacity: 0;
    animation: .5s forwards start_page 0.5s;
}

.container {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}

@keyframes start_page {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes contacts_page {
    0% {
        left: 60%;
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    100% {
        left: 50%;
        opacity: 1;
    }
}

.scroll_anim {
    animation: 1s forwards start_page;
}

.contacts_anim {
    animation: .7s forwards contacts_page;
}

.header__inner {
    color: #fff;
    position: fixed;
    padding: 35px 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: -webkit-fill-available;
    height: 100vh;
    align-items: center;
    opacity: 0;
    animation: 1s forwards start_page 1.5s;
}

.header__inner p {
    margin-bottom: 30px;
}

.header__link-item {
    margin-bottom: 30px;
}

.header__link-item:last-child {
    margin-bottom: 0;
}

.main__page {
    background: linear-gradient(rgba(0 0 0 / 50%), rgba(0 0 0 / 50%)), url(../images/winter.webp);
    background-size: cover;
    background-position: center center;
    min-height: 800px;
    height: 100vh;
}

.main__page-inner {
    min-height: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    animation: 1s forwards start_page 1.5s;
}

.main__menu-list {
    display: flex;
    color: #fff;
    justify-content: end;
}

.main__menu-item {
    margin-right: 30px;
}

.main__menu-item:last-child {
    margin-right: 0;
}

.main__title {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 70px 0;
    justify-content: space-between;
}

.main__title img {
    border-radius: 100%;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 12px 0 #000000;
    object-fit: cover;
}

.title__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title__inner h1 {
    font-size: 80px;
    max-width: 12ch;
}

.title__inner p {
    margin-top: 30px;
    font-size: 20px;
    max-width: 46ch;
    line-height: 30px;
    letter-spacing: 0.2px;
}

.about__inner {
    color: #fff;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.about__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    opacity: 0;
}

.about__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    opacity: 0;
}

.skills-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills_icons{
    align-content: center;
    height: 100%;
}

.skills_icons-inner {
    font-size: 48px;
    display: grid;
    row-gap: 35px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.devices h1, .skills h1, .bio h1 {
    text-align: center;
    font-size: 24px;
    padding-bottom: 6px;
}

.bar__title {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.bar__main {
    width: 100%;
    background: #333;
    width: 100%;
    height: 13px;
    border-radius: 5px;
}

#htmlLine, #cssLine, #jsLine, #cppLine {
    height: 13px;
    border-radius: 5px;
}

.bio__inner p {
    padding: 5px 0;
}

.devices {
    margin-top: 36px;
}

.devices {
    grid-column-start: 1;
    grid-column-end: 4;
}

.devices-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}

.devices-item h2 {
    padding: 7px 0;
    font-size: 18px;
}

.devices-item p {
    padding: 5px;
}

.devices h1 {
    padding-bottom: 20px;
}

.contacts__inner {
    display: flex;
    align-items: center;
    color: #fff;
    height: 66vh;
    justify-content: space-between;
    position: relative;
}

.contacts__inner h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.contacts__links {
    display: flex;
    flex-direction: column;
    position: sticky;
    left: 50%;
    opacity: 0;
}

.contacts__links a {
    font-size: 70px;
    color: #000;
    -webkit-text-stroke: .4px #c7c5c5;
    transition: all .3s;
}

.contacts__links a:hover {
    color: #fff;
    transition: all .3s;
}

.contacts__links a:hover:first-child {
    color: #0088cc;
    -webkit-text-stroke: .4px #0088cc;
    transition: all .3s;
}

.footer {
    margin-bottom: 35px;
    color: #FFF;
    text-align: center;
}

.footer a {
    text-decoration: underline;
    text-decoration-color: #888;
    transition: all .5s;
}

.footer a:hover {
    text-decoration-color: #fff;
    transition: all .5s;
}

@media screen and (max-width: 1604px) {
    .main__title {
        flex-direction: column;
    }

    .about__inner {
        grid-template-rows: 1fr 1fr;
    }

    .about__grid {
        display: block;
        text-align: center;
    }

    .skills {
        width: 600px;
        display: inline-block;
        margin-top: 30px;
        width: -moz-available;
    }

    .bio h1, .skills h1 {
        margin-bottom: 20px;
    }

    .devices-list {
        display: block;
    }

    .devices-item {
        margin-bottom: 20px;
    }
    
    .about__title {
        padding: 35px 0;
    }
}

@media screen and (max-width: 1016px) {
    .contacts__inner {
        display: flex;
        align-items: center;
        color: #fff;
        height: 66vh;
        justify-content: center;
    }

    .contacts__links {
        display: flex;
        flex-direction: column;
        position: initial;
    }
}

@media screen and (max-width: 810px) {
    .main__title {
        transform: scale(0.8);
    }

    .about__grid {
        display: block;
    }

    .header {
        position: relative;
    }

    .header__inner {
        position: absolute;
        flex-direction: row;
        width: 100%;
        padding: 45px 55px;
        height: 0;
        z-index: 999;
    }

    .header__link-list {
        display: flex;
    }

    .header__link-item {
        margin-right: 30px;
        margin-bottom: 0;
    }

    .header__link-item:last-child {
        margin-right: 0;
        margin-bottom: 0;
    }

    .main__menu-list {
        display: none;
    }
}

@media screen and (max-width: 412px) {
    .main__title img {
        width: 300px;
        height: 300px;
        margin-bottom: 40px;
    }

    .main__title {
        transform: scale(0.9);
    }

    .header__inner {
        padding: 45px 25px;
    }

    .title__inner h1 {
        font-size: 52px;
    }

    .contacts__links a {
        font-size: 52px;
    }

    .skills {
        width: -webkit-fill-available;
        width: -moz-available;
    }

    .about__inner {
        grid-template-rows: max-content;
        height: auto;
    }
}