* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
a {
	color: inherit;
}

@font-face {
	font-family: NTSomic;
	font-weight: 400;
	font-style: normal;
	src:
		local("NTSomic Regular"),
		local("NTSomic-Regular"),
		url("/fonts/NTSomic-Regular.woff2") format("woff2"),
		url("/fonts/NTSomic-Regular.woff") format("woff"),
		url("/fonts/NTSomic-Regular.eot") format("eot");
	font-display: swap;
}

body {
	background-color: #000;
	font-family: NTSomic;
	font-weight: 400;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: NTSomic;
	font-weight: 400;
}

.overlay {
	opacity: 0;
	animation: 0.5s forwards start_page 0.5s;
}

.container {
	max-width: 1280px;
	padding: 0 15px;
	margin: 0 auto;
}

@keyframes start_page {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes contacts_page {
	0% {
		left: 60%;
		opacity: 0;
	}

	10% {
		opacity: 0;
	}

	100% {
		left: 50%;
		opacity: 1;
	}
}

.scroll_anim {
	animation: 1s forwards start_page;
}

.contacts_anim {
	animation: 0.7s forwards contacts_page;
}

.header__inner {
	color: #fff;
	position: fixed;
	padding: 35px 55px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: -webkit-fill-available;
	height: 100vh;
	align-items: center;
	opacity: 0;
	animation: 1s forwards start_page 1.5s;
	z-index: 999;
}

.header__inner p {
	margin-bottom: 30px;
}

.header__link-item {
	margin-bottom: 30px;
}

.header__link-item:last-child {
	margin-bottom: 0;
}

.main__page {
	background:
		linear-gradient(rgba(0 0 0 / 50%), rgba(0 0 0 / 50%)),
		url(../assets/winter.png);
	background-size: cover;
	background-position: center center;
	min-height: 800px;
	height: 100dvh;
}

.main__page-inner {
	min-height: 800px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	animation: 1s forwards start_page 1.5s;
	z-index: 998;
}

.main__menu-list {
	display: flex;
	color: #fff;
	justify-content: end;
}

.main__menu-item {
	margin-right: 30px;
}

.main__menu-item:last-child {
	margin-right: 0;
}

.main__title {
	display: flex;
	align-items: center;
	color: #fff;
	padding: 70px 0;
	justify-content: space-between;
}

.main__title img {
	border-radius: 100%;
	width: 500px;
	height: 500px;
	box-shadow: 0 0 12px 0 #000000;
	object-fit: cover;
}

.statusOnline {
	box-shadow: 0 0 12px 0 #3a6c3a !important;
}

.title__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title__inner h1 {
	font-size: 80px;
	max-width: 12ch;
}

.title__inner p {
	margin-top: 30px;
	font-size: 20px;
	max-width: 46ch;
	line-height: 30px;
	letter-spacing: 0.2px;
}

.about__inner {
	color: #fff;
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}

.about__title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 36px;
	opacity: 0;
}

.about__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	opacity: 0;
}

.skills-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.skills_icons {
	align-content: center;
	height: 100%;
}

.skills_icons-inner {
	font-size: 48px;
	display: grid;
	row-gap: 35px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
}

.devices h1,
.skills h1,
.bio h1 {
	text-align: center;
	font-size: 24px;
	padding-bottom: 6px;
}

.bar__title {
	display: flex;
	justify-content: space-between;
	padding: 5px 0;
}

.bar__main {
	width: 100%;
	background: #333;
	width: 100%;
	height: 13px;
	border-radius: 5px;
}

#htmlLine,
#cssLine,
#jsLine,
#cppLine {
	height: 13px;
	border-radius: 5px;
}

.bio__inner p {
	padding: 5px 0;
}

.devices {
	margin-top: 36px;
}

.devices {
	grid-column-start: 1;
	grid-column-end: 4;
}

.devices-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-between;
}

.devices-item h2 {
	padding: 7px 0;
	font-size: 18px;
}

.devices-item p {
	padding: 5px;
}

.devices h1 {
	padding-bottom: 20px;
}

.contacts__inner {
	display: flex;
	align-items: center;
	color: #fff;
	height: 66vh;
	justify-content: space-between;
	position: relative;
}

.contacts__inner h1 {
	text-align: center;
	font-size: 32px;
	margin-bottom: 30px;
}

.contacts__links {
	display: flex;
	flex-direction: column;
	position: sticky;
	left: 50%;
	opacity: 0;
}

.contacts__links a {
	font-size: 70px;
	color: #000;
	-webkit-text-stroke: 0.4px #c7c5c5;
	transition: all 0.3s;
}

.contacts__links a:hover {
	color: #fff;
	transition: all 0.3s;
}

.contacts__links a:hover:first-child {
	color: #0088cc;
	-webkit-text-stroke: 0.4px #0088cc;
	transition: all 0.3s;
}

@media screen and (max-height: 500px) {
	#about {
		min-height: 1042px;
	}
}

@media screen and (max-width: 1604px) {
	.main__title {
		transform: scale(0.7);
	}

	.main__title img {
		margin-right: 43px;
	}

	.about__inner {
		grid-template-rows: 1fr 1fr;
	}

	.about__grid {
		display: block;
		text-align: center;
	}

	.skills {
		width: 600px;
		display: inline-block;
		margin-top: 30px;
		width: -moz-available;
	}

	.bio h1,
	.skills h1 {
		margin-bottom: 20px;
	}

	.devices-list {
		display: block;
	}

	.devices-item {
		margin-bottom: 20px;
	}

	.about__title {
		padding: 35px 0;
	}

	#about {
		min-height: 1000px;
	}
}

@media screen and (max-width: 1016px) {
	.main__title {
		flex-direction: column;
		transform: scale(1);
	}

	.main__title img {
		margin-right: 0;
	}

	.contacts__inner {
		display: flex;
		align-items: center;
		color: #fff;
		height: 66vh;
		justify-content: center;
	}

	.contacts__links {
		display: flex;
		flex-direction: column;
		position: initial;
	}
}

@media screen and (max-width: 810px) {
	.main__title {
		transform: scale(0.8);
	}

	.about__grid {
		display: block;
	}

	.main__menu-list {
		display: none;
	}
}

@media screen and (max-width: 412px) {
	.main__title img {
		width: 300px;
		height: 300px;
		margin-bottom: 40px;
	}

	.main__title {
		transform: scale(0.9);
	}

	.header__inner {
		padding: 45px 25px;
	}

	.title__inner h1 {
		font-size: 52px;
	}

	.contacts__links a {
		font-size: 52px;
	}

	.skills {
		width: -webkit-fill-available;
		width: -moz-available;
	}

	.about__inner {
		grid-template-rows: max-content;
		height: auto;
	}
}
