---
import Image from "astro/components/Image.astro"
import Err from "../assets/404.jpg"
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
</head>
<body>
  <center><a href="https://thefreo.ru"><Image id="status" src={Err} alt="" /></a></center>
</body>
</html>