---
import '../styles/style.css';

import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
---
<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<meta name="author" content="TheFreo | https://github.com/TheFreo">
    	<meta name="description" content="Personal website of TheFreo">
    	<link rel="mask-icon" href="/logo.svg" color="#000">
    	<link rel="icon" type="image/x-icon" href='/fav.png'>
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"/>
		<title>TheFreo</title>
	</head>
	<body>
		<slot />
	</body>
</html>

